<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.goBack()">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ vm.campus.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab index="0" heading="All">
                    <h2>All</h2>
                </uib-tab>
                <uib-tab index="1" heading="Buildings">
                    <table st-table="vm.buildings" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Building</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>                   
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="building in vm.buildings">
                            <td>{{ building.name }}</td>
                            <td>{{ building.status }}</td>
                            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Lots">
                    <table st-table="vm.lots" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Lot</th>
                            <th>Status</th>
                            <th>Access</th>
                            <th></th>
                            <th></th>                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lot in vm.lots">
                            <td>{{ lot.name }}</td>
                            <td>{{ lot.status }}</td>
                            <td>{{ lot.access }}</td>
                            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="3" heading="Gates">
                    <table st-table="vm.gates" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Gate</th>
                            <th>Status</th>
                            <th>Access</th>
                            <th>Hours</th>
                            <th>Instructions</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gate in vm.gates">
                            <td>{{ gate.name }}</td>
                            <td>{{ gate.status }}</td>
                            <td>{{ gate.access }}</td>
                            <td>{{ gate.hours }}</td>
                            <td>{{ gate.instructions }}</td>
                            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!-- Remember to check for a null value! -->
    <!--<table>
        <tr>
            <th>Building</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="building in vm.buildings">
            <td><a href="#!/campus/{{ vm.campus.id }}/building/{{ building.id }}">{{ building.name }}</a></td>
            <td>{{ building.status }}</td>
            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
            <td>Delete</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Lot</th>
            <th>Status</th>
            <th>Access</th>
        </tr>
        <tr ng-repeat="lot in vm.lots">
            <td><a href="#!/campus/{{ vm.campus.id }}/lot/{{ lot.id }}">{{ lot.name }}</a></td>
            <td>{{ lot.status }}</td>
            <td>{{ lot.access }}</td>
            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
            <td>Delete</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Gate</th>
            <th>Status</th>
            <th>Access</th>
            <th>Hours</th>
            <th>Instructions</th>
        </tr>
        <tr ng-repeat="gate in vm.gates">
            <td><a href="#!/campus/{{ vm.campus.id }}/gate/{{ gate.id }}">{{ gate.name }}</a></td>
            <td>{{ gate.status }}</td>
            <td>{{ gate.access }}</td>
            <td>{{ gate.hours }}</td>
            <td>{{ gate.instructions }}</td>
            <td><button ng-click="vm.showMap(vm.campus)">Edit</button></td>
            <td>Delete</td>
        </tr>
    </table>-->

</div>