<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Campuses</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row add-btn">
        <div class="col-md-12">
            <button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#modal-add-campus">
                <i class="glyphicon glyphicon-plus"></i>
                Add Campus
            </button>
        </div>
    </div>
    <div class="row tabs">
        <div class="col-md-12">
            <table st-table="vm.campuses" class="table table-striped">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Status</th>
                    <th>No. of Buildings</th>
                    <th>No. of Parking Lots</th>
                    <th>No. of Gates</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(campusId, campus) in vm.campuses">
                    <td><a href="#!/campus/{{ campusId }}">{{ campus.name }}</a></td>
                    <td>{{ campus.status }}</td>
                    <td>{{ campus.num_buildings }}</td>
                    <td>{{ campus.num_lots }}</td>
                    <td>{{ campus.num_gates }}</td>
                    <td><button type="button" ng-click="vm.editCampus(campus)" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </td>
                    <td><button type="button" ng-click="vm.deleteCampus(campus)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODALS -->

<div class="modal fade" id="modal-add-campus" tabindex="-1" role="dialog" aria-labelledby="add-campus-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add-campus-label">Add Campus</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <label for="modal-map">Location:</label>
                <input id="pac-input" class="form-control controls" type="text" placeholder="Search Box">
                <div id="modal-map"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.saveCampus()">Save</button>
                <button class="btn btn-cancel" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>