<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Campuses</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row add-btn">
        <div class="col-md-12">
            <button type="button" ng-click="vm.modalMode = vm.modalModeEnum.ADD" class="btn btn-md btn-success" data-toggle="modal" data-target="#modal-campus">
                <i class="glyphicon glyphicon-plus"></i>
                Add Campus
            </button>
        </div>
    </div>
    <div class="row tabs">
        <div class="col-md-12">
            <table st-table="vm.campuses" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>No. of Buildings</th>
                    <th>No. of Parking Lots</th>
                    <th>No. of Gates</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(campusId, campus) in vm.campuses">
                    <td><a href="#!/campus/{{ campusId }}">{{ campus.name }}</a></td>
                    <td ng-if="campus.active">Active</td>
                    <td ng-if="!campus.active">Closed</td>
                    <td>{{ campus.num_buildings }}</td>
                    <td>{{ campus.num_lots }}</td>
                    <td>{{ campus.num_gates }}</td>
                    <td><button type="button" ng-click="vm.campusToUpdate = campusId; vm.modalMode = vm.modalModeEnum.EDIT" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-campus">
                        <i class="glyphicon glyphicon-edit"></i>
                    </td>
                    <td><button type="button" ng-click="vm.deleteCampus(campusId)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MODALS -->

<div class="modal fade" id="modal-campus" tabindex="-1" role="dialog" aria-labelledby="campus-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="campus-label" ng-if="vm.modalMode === vm.modalModeEnum.ADD">Add Campus</h4>
                <h4 class="modal-title" id="campus-label" ng-if="vm.modalMode === vm.modalModeEnum.EDIT">Edit Campus</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="roles">Roles:</label>
                    <div ng-repeat="role in vm.roles" id="roles">
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="name" ng-model="role.name">
                        </div>
                        <div class="col-xs-2"><button type="button" ng-click="vm.roles.splice($index, 1)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </div>
                    </div>
                    <div id="modify-roles">
                        <button type="button" ng-click="vm.addRole()" class="btn btn-md btn-success">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add Role
                        </button>
                    </div>
                </div>

                <label for="modal-map">Location:</label>
                <input id="pac-input" class="form-control controls" type="text" placeholder="Search Box">
                <div id="modal-map"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.saveCampus()">Save</button>
                <button class="btn btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                <div>
                     <button class="btn btn-danger" type="button" ng-click="vm.clearModalMap()">Clear Map</button>   
                </div>
            </div>
        </div>
    </div>
</div>