<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.goBack()">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{{ vm.campus.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row add-btn">
        <div class="col-md-12">
            <button type="button" ng-click="vm.modalMode = vm.modalModeEnum.ADD" class="btn btn-md btn-success" data-toggle="modal" data-target="#modal-building">
                <i class="glyphicon glyphicon-plus"></i>
                Add Building
            </button>
            <button type="button" ng-click="vm.modalMode = vm.modalModeEnum.ADD" class="btn btn-md btn-success" data-toggle="modal" data-target="#modal-lot">
                <i class="glyphicon glyphicon-plus"></i>
                Add Parking Lot
            </button>
            <button type="button" ng-click="vm.modalMode = vm.modalModeEnum.ADD" class="btn btn-md btn-success" data-toggle="modal" data-target="#modal-gate">
                <i class="glyphicon glyphicon-plus"></i>
                Add Gate
            </button>
        </div>
    </div>
    <div class="row tabs">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab index="0" heading="Buildings">
                    <table st-table="vm.buildings" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>                   
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(buildingId, building) in vm.buildings">
                            <td>{{ building.name }}</td>
                            <td ng-if="building.active">Active</td>
                            <td ng-if="!building.active">Closed</td>
                            <td><button type="button" ng-click="vm.structureToUpdate = buildingId; vm.modalMode = vm.modalModeEnum.EDIT" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-building">
                                <i class="glyphicon glyphicon-edit"></i>
                            </td>
                            <td><button type="button" ng-click="vm.deleteBuilding(buildingId)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="1" heading="Lots">
                    <table st-table="vm.lots" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Access</th>
                            <th>Hours</th>
                            <th></th>
                            <th></th>                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(lotId, lot) in vm.lots">
                            <td>{{ lot.name }}</td>
                            <td ng-if="lot.active">Active</td>
                            <td ng-if="!lot.active">Closed</td>
                            <td>{{ lot.access }}</td>
                            <td>{{ lot.hours }}</td>
                            <td><button type="button" ng-click="vm.structureToUpdate = lotId; vm.modalMode = vm.modalModeEnum.EDIT" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-lot">
                                <i class="glyphicon glyphicon-edit"></i>
                            </td>
                            <td><button type="button" ng-click="vm.deleteLot(lotId)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Gates">
                    <table st-table="vm.gates" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Access</th>
                            <th>Hours</th>
                            <th>Instructions</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(gateId, gate) in vm.gates">
                            <td>{{ gate.name }}</td>
                            <td ng-if="gate.active">Active</td>
                            <td ng-if="!gate.active">Closed</td>
                            <td>{{ gate.access }}</td>
                            <td>{{ gate.hours }}</td>
                            <td>{{ gate.instructions }}</td>
                            <td><button type="button" ng-click="vm.structureToUpdate = gateId; vm.modalMode = vm.modalModeEnum.EDIT" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-gate">
                                <i class="glyphicon glyphicon-edit"></i>
                            </td>
                            <td><button type="button" ng-click="vm.deleteGate(gateId)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <!-- Remember to check for a null value! -->

</div>


<!-- MODALS -->

<div class="modal fade" id="modal-building" tabindex="-1" role="dialog" aria-labelledby="building-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="building-label" ng-if="vm.modalMode === vm.modalModeEnum.ADD">Add Building</h4>
                <h4 class="modal-title" id="building-label" ng-if="vm.modalMode === vm.modalModeEnum.EDIT">Edit Building</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="building-name">Name:</label>
                    <input type="text" class="form-control" id="building-name">
                </div>
                <label for="modal-map-building">Location:</label>
                <div id="modal-map-building"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.saveBuilding()">Save</button>
                <button class="btn btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                <div>
                     <button class="btn btn-danger" type="button" ng-click="vm.clearMarkers()">Clear Map</button>   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lot" tabindex="-1" role="dialog" aria-labelledby="lot-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lot-label" ng-if="vm.modalMode === vm.modalModeEnum.ADD">Add Parking Lot</h4>
                <h4 class="modal-title" id="lot-label" ng-if="vm.modalMode === vm.modalModeEnum.EDIT">Edit Parking Lot</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="lot-name">Name:</label>
                    <input type="text" class="form-control" id="lot-name">
                </div>
                <div class="form-group">
                    <label>Associated Buildings:</label>
                    <select multiple class="form-control" ng-model="vm.selectedBuildings" ng-options="+(buildingId) as building.name for (buildingId, building) in vm.buildings"></select>
                </div>
                <div class="form-group">
                    <label>Access:</label>
                    <select multiple class="form-control" ng-model="vm.selectedRoles" ng-options="+(role.id) as role.name for role in vm.campus.roles"></select>
                </div>
                <div class="form-group">
                    <label>Hours:</label>
                    <div class="form-group row">
                        <label for="lot-from" class="col-md-1 control-label" style="font-weight: normal;">From:</label>
                        <div class="col-md-5">
                            <div uib-timepicker ng-model="vm.fromTime" minute-step="15" show-meridian="['AM','PM']" id="lot-from"></div>
                        </div>
                        <label for="lot-to" class="col-md-1 control-label" style="font-weight: normal;">To:</label>
                        <div class="col-md-5">
                            <div uib-timepicker ng-model="vm.toTime" minute-step="15" show-meridian="['AM','PM']" id="lot-to"></div>
                        </div>
                    </div>
                </div>
                <label for="modal-map-lot">Location:</label>
                <div id="modal-map-lot"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.saveLot()">Save</button>
                <button class="btn btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                <div>
                     <button class="btn btn-danger" type="button" ng-click="vm.clearModalMap()">Clear Map</button>   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-gate" tabindex="-1" role="dialog" aria-labelledby="gate-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gate-label" ng-if="vm.modalMode === vm.modalModeEnum.ADD">Add Gate</h4>
                <h4 class="modal-title" id="gate-label" ng-if="vm.modalMode === vm.modalModeEnum.EDIT">Edit Gate</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="gate-name">Name:</label>
                    <input type="text" class="form-control" id="gate-name">
                </div>
                <div class="form-group">
                    <label>Access:</label>
                    <select multiple class="form-control" ng-model="vm.selectedRoles" ng-options="+(role.id) as role.name for role in vm.campus.roles"></select>
                </div>
                <div class="form-group">
                    <label>Hours:</label>
                    <div class="form-group row">
                        <label for="gate-from" class="col-md-1 control-label" style="font-weight: normal;">From:</label>
                        <div class="col-md-5">
                            <div uib-timepicker ng-model="vm.fromTime" minute-step="15" show-meridian="['AM','PM']" id="gate-from"></div>
                        </div>
                        <label for="gate-to" class="col-md-1 control-label" style="font-weight: normal;">To:</label>
                        <div class="col-md-5">
                            <div uib-timepicker ng-model="vm.toTime" minute-step="15" show-meridian="['AM','PM']" id="gate-to"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gate-instructions">Instructions:</label>
                    <textarea class="form-control" rows="3" id="gate-instructions"></textarea>
                </div>
                <label for="modal-map-gate">Location:</label>
                <div id="modal-map-gate"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="vm.saveGate()">Save</button>
                <button class="btn btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                <div>
                     <button class="btn btn-danger" type="button" ng-click="vm.clearMarkers()">Clear Map</button>   
                </div>
            </div>
        </div>
    </div>
</div>