<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span><img alt="Brand" src="images/favicon.ico" height="30" width="30"></span>
            GM Transportation Experience Web Portal
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Login</h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label>Username:</label>
            <input type="text" class="form-control" ng-model="vm.user.username">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label>Password:</label>
            <input type="password" class="form-control" ng-model="vm.user.password">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <button class="btn btn-primary" type="button" ng-click="vm.login()">Login</button>
        </div>
    </div>
    <div class="row form-group" ng-if="vm.invalid">
        <div class="col-md-4">
            <span class="invalid">Invalid username or password.</span>
        </div>
    </div>
</div>