/* app css stylesheet */

.navbar-brand {
  height: 20px;
  width: 20px;
}

#map {
    height: 420px;
    width: 600px;
    display: block;
}

#modal-map, #modal-map-building, #modal-map-lot, #modal-map-gate {
  height: 387.5px;
  width: 567.5px;
  display: block;
}

#modify-roles {
  padding-top: 15px;
  display: inline-block;
}

.pac-container {
    z-index: 1051 !important;
}

.add-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabs {
  padding-bottom: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}
